body {
  color: #FAFAFA;
  font-family: 'Roboto', sans-serif;;
}

h2 {
  text-align: center;
  margin-top: 10px;
}
#background {
  padding: 50px 100px 50px 100px;
  background: #6dc066;
}

.two-column {
  column-gap: 10px;
}


.border {
  border-style: solid;
  border-color: #6dc066;
}

#orange {
  background: #FFA726;
  height: 75vh;
}

#blue {
  background: #00B0FF;
  height: 75vh;
}

#yellow {
  background : #FFEB3B;
  height: 75vh;
}

#dark-blue {
  background: #0277BD;
  height: 40vh;
}

#purple {
  background: #7E57C2;
  height: 60vh;
}

#dark-orange {
  background: #FF6D00;
  height: 25vh;
}

#black {
  background: #000000;
  height: 25vh;
}

#green {
  background: #115a21;
  height: 25vh;
}